.team-members-img {
  background-position: center 28%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  width: 40%;
  height: clamp(150px, 50vh, 375px);
  min-width: 150px;
  min-height: 150px;
  transition: all 0.3s ease;
}

.member-description {
  transition: max-height 0.3s cubic-bezier(0.4,0,0.2,1), opacity 0.3s cubic-bezier(0.4,0,0.2,1);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.group:hover .member-description {
  max-height: 10rem;
  opacity: 1;
}

.team-images-wrapper {
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.chris-member {
  background-image: url("/members/chris.jpeg");
}

.tommy-member {
  background-image: url("/members/tommy.jpeg");
}

.elijah-member {
  background-image: url("/members/chris-v2.jpeg");
}

.team-member-info h4 {
  color: #fff;
}

.team-members-img:hover, .team-members-img:focus {
  transform: scale(1.03);
}


@media screen and (max-width: 1770px) {
  .team-members-img {
    height: 250px;
    width: 45%;
  }
  
  .team-member-info {
    font-size: 12px;
  }
}

@media screen and (max-width: 1200px) {
  .team-members-wrapper {
    margin-top: 125px;
    height: 900px;
  }
  
  .back-team {
    height: 1000px;
  }

  .team-images-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .team-members-img {
    width: 80%;
    height: 200px;
    aspect-ratio: 16 / 9;
  }

  .team-members-container {
    margin-top: -350px;
    height: 900px;
    width: 90%;
  }

  .team-member-info h4, .member-description {
    font-size: clamp(10px, 2vw, 18px);
  }
}


@media screen and (max-width: 768px) {
  .team-members-container {
    margin-top: -350px;
    height: 800px;
    width: 90%;
  }

  .team-heading {
    margin-bottom: 10px;
  }

  .team-heading h1 {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {

  .team-heading h1 {
    font-size: 16px;
  }
}